<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>parameter demo</h1>
	<!-- <form action="paramDemo" method="get"> -->
	
	<form action="paramDemo" method="post">
	
	<label for="first">First name
	<input type="text" id="first" name="firstName">
	</label><br>
	
	<label for="last">Last name
	<input type="text" id="last" name="lastName">
	</label><br>
	
	<label for="fun">
	<input type="checkbox" id="fun" name="fun" value=true>spring boot is fun
	</label><br>
	
	<label for="hello">
	<input type="radio" id="hello" name="hello" value=true>hello radio button 
	</label><br>
	
	<label for="time">Appointment Time
	<input type="time" id="time" name="apptTime">
	</label><br>
	
	<p><input type="submit"></p>
	</form>

</body>
</html>