<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<p>please fill out the form!</p>
	<form method="post" action="/formPost"><br>
	
		First name:<input type="text" name="firstName"><br>
		Last name:<input type="text" name="lastName"><br>
		Email:<input type="email" name="email"><br>
		Student Number:<input type="number" name="studnetNumber"><br>
		Birth date:<input type="date" name="birthDate"><br>
		<input type="submit" value="Go!">

	</form>
</body>
</html>